:root {

    text-align: center;
}

h1 {
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif
}



.start-button {
    background-color: blueviolet;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-size: 20px;
}

.start-button:hover {
    background-color: rgb(211, 211, 125);
    transition: 0.3s;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}


img {
    position:fixed;
    bottom:0px;
    right:0px;
    z-index: -1;
}

.hidden {
    display: none;
}

.reveal {
    display: block;
}

.question-box {
    background-color: blueviolet;
    display: grid;
    grid-row: auto;
    text-align: center;
    color: white;
    border: none;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-size: 20px;
    
}

.question-box:hover {
    background-color: rgb(211, 211, 125);
    transition: 0.3s;
}


.countdown {
    color: black;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding:15px;
    min-height:30px; 
    min-width: 40px;
    font-size: 20px;
}

.end-screen {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-size: 200px;
    color: black;
}

.countdown {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px;
    color: black;
}

.hiscores p{
    font-size: 20px;
    display: grid ;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    border-radius: 10px;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    background-color: blueviolet;
}