:root {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

h1 {
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif
}



.startButton {
    background-color: blueviolet;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-size: 20px;
}

.startButton:hover {
    background-color: rgb(211, 211, 125);
    transition: 0.3s;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

/* why isnt border or border color working for this segment? */
.hiscores {
    border: 3px;
    border-color: black;

}


img {
    position:fixed;
    bottom:0px;
    right:0px;
    z-index: -1;
}